#order{
  position: relative;
  background-color: white;
  margin:10px;
  border-radius: 10px;
  text-align: center;
  min-height: 670px;
  overflow:hidden;
}

#orderLeft{
  width:50%;
  border-right: 2px solid #EAEAEA;
  min-height: 670px;
  float:left;
  display:table;
}

#tables{
  position:relative;
  text-align: center;
  display:table-cell;
  table-layout : fixed; 
  word-break: break-all;
  width:100%;
  padding-top:20px;
  padding-bottom: 20px;
  min-height: 670px;
}

#orderRight{
  width:50%;
  float:right;
}

#takeOut{
  text-align: center;
}

#toOrders{
  border-top:2px solid  #EAEAEA;
  justify-content: center;
  position: relative;
  display:flex;
  flex-wrap: wrap;
}